<div class="container">
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <div class="content">
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
            <form method="post" action="">
                <h1>Login</h1>
                <p>
                    <label for="email">Seu email</label>
                    <input id="email" name="email" [(ngModel)]="Usuario.email" required="required" type="text" placeholder="ex. contato@htmlecsspro.com" />
                </p>

                <p>
                    <label for="password">Sua senha</label>
                    <input id="password" [(ngModel)]="Usuario.password" name="password" required="required" type="password" placeholder="ex. senha" />
                </p>
                <p>
                    <input type="submit" (click)="logarUsuarios()" value="Logar" />
                </p>

                <div class="alert alert-danger" role="alert" *ngIf="hasErrors">
                    <p *ngFor="let error of errors">{{ error }}</p>
                </div>
                <div class="alert alert-primary" role="alert" *ngIf="hasSuccess">
                    <p>Usuario criado</p>
                </div>
                <p class="link">
                    Ainda não tem conta?
                    <a href="#paracadastro">Cadastre-se</a>
                </p>
            </form>
        </div>

        <!--FORMULÁRIO DE CADASTRO-->
        <div id="cadastro">
            <form method="post" action="">
                <h1>Cadastro</h1>

                <p>
                    <label for="name">Seu nome</label>
                    <input id="name" name="name" [(ngModel)]="Usuario.name" required="required" type="text" placeholder="nome" />
                </p>

                <p>
                    <label for="email">Seu e-mail</label>
                    <input id="email" name="email" [(ngModel)]="Usuario.email" required="required" type="email" placeholder="contato@htmlecsspro.com" />
                </p>

                <p>
                    <label for="password">Sua senha</label>
                    <input id="password" name="password" [(ngModel)]="Usuario.password" required="required" type="password" placeholder="ex. 1234" />
                </p>

                <p>
                    <input type="submit" (click)="cadastroUsuarios()" value="Cadastrar" />
                </p>

                <p class="link">
                    Já tem conta?
                    <a href="#paralogin"> Ir para Login </a>
                </p>
            </form>
        </div>
    </div>
</div>