<app-header></app-header>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <h5 class="m-0 font-weight-bold text-primary">Agendar aula</h5>
        <!--FORMULÁRIO DE AGENDAR-->
        <div id="agendar">
            <form method="post" action="">

                <p>
                    <label for="aula">Aula</label>
                    <select name="area" class="form-select" aria-label="Default select example" [(ngModel)]="selectArea" (change)="onSelectArea()" required>
                        <option *ngFor="let area of areas" [ngValue]="area">{{area.name}}</option>
                      </select>
                </p>

                <p>
                    <label for="aula">Professor</label>
                    <select name="profesor" class="form-select" aria-label="Default select example" [(ngModel)]="selectProfesores" (change)="onSelectProfesor()" required>
                        <option *ngFor="let profesor of profesores" [ngValue]="profesor" >{{profesor.name}}</option>
                      </select>
                </p>
                <label for="aula">Disponibilidad</label>
                <p>
                    <label for="aula">Data</label>
                    <select name="data" class="form-select" aria-label="Default select example" [(ngModel)]="selectData.data" (change)="onSelectDatas($event.target.value)" required>
                        <option *ngFor="let data of datas" value="{{data.data}}">{{data.data}}</option>
                      </select>

                    <label for="aula">Hora</label>
                    <select name="hora" class="form-select" aria-label="Default select example" [(ngModel)]="selectHora.hora" required>
                        <option *ngFor="let hour of horas" value="{{hour.hora}}">{{hour.hora}}</option>
                    </select>
                </p>


                <div class="alert alert-danger" role="alert" *ngIf="hasErrors">
                    <p>{{ mensaje }}</p>
                </div>
                <div class="alert alert-primary" role="alert" *ngIf="hasSuccess">
                    <p>Agrendamento realizado com sucesso!</p>
                </div>
                <p class="link" *ngIf="this.idAgenda !=undefined">
                    <button type="button" class="btn btn-primary" (click)="updateAgendamento()">Salvar</button>
                </p>
                <p class="link" *ngIf="this.idAgenda ==undefined">
                    <button type="button" class="btn btn-primary" (click)="salvarAgendamento()">Salvar</button>
                </p>
            </form>
        </div>

    </div>
</div>