<app-header></app-header>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bem-vind@ {{name}}</h6>
    </div>
    <div class="card-body">
        <h5 class="m-0 font-weight-bold text-primary">Lista de Agendamentos</h5>

        <div class="alert alert-danger" role="alert" *ngIf="agendamentos.length == 0">
            <p> Não tem nenhuma aula agendada. Deseja agenda? <a [routerLink]="['/agendar']">Agendar</a> </p>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Aula</th>
                        <th>Professor</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngFor="let agendamento of agendamentos">
                    <tr>
                        <td>{{agendamento.name_area}}</td>
                        <td>{{agendamento.name_profesor}}</td>
                        <td>{{agendamento.date}} - {{agendamento.hour}}</td>
                        <td>
                            <span style="padding: 10px;"><a (click)="eliminar(agendamento.id)" class="btn btn-danger btn-circle"><i class="bi bi-trash"></i></a></span>
                            <a (click)="editar(agendamento.id)" class="btn btn-primary btn-circle"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>